<div class="container-fluid">
  <div class="row">
    <header id="header">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top z-depth-3"  style="background-color: #222835">

        <div class="row collapse navbar-collapse py-3" id="navbarSupportedContent"
             style="width: 100%">

          <ul class="navbar-nav mr-auto" style="padding-left: 5%">
            <li routerLinkActive="active">
              <a class="nav-link" routerLink="accueil">HOME</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="profil">PROFIL</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="projectList">PROJETS</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="proofOfConceptList">POC</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </div>
</div>
