<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background: #222835">
  <!-- Footer Elements -->
  <div class="container pb-4">
    <div class="links text-center">
      <span *ngFor="let socialnetwork of profil.socialNetworkDTOList">
        <span  *ngIf="socialnetwork.name == 'linkedin'">
          <a class="px-2 fa-lg li-ic" href="{{socialnetwork.url}}" target="_blank">
            <i class="fab fa-linkedin fa-3x text-blue"></i>
          </a>
        </span>
        <span *ngIf="socialnetwork.name == 'twitter'">
          <a class="px-2 fa-lg li-ic" href="{{socialnetwork.url}}" target="_blank">
            <i class="fab fa-twitter fa-3x text-blue"> </i>
          </a>
        </span>
      </span>
    </div>
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a> Celim Laverriere</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
