<!--Main layout-->
<main>
  <!--Section: about-->
  <section id="about" style="margin-top: 5%; margin-bottom: 3%">

    <div class="container-fluid">
      <div class="container z-depth-5">
        <div class="row elegant-color text-white pt-2">
          <div class="col-lg-12 text-center" *ngIf="project">
            <hr class="hr-light">
            <h1 class="h1-responsive font-weight-bold"><strong>{{project.name}}</strong></h1>
            <hr class="hr-light">
          </div>
        </div>

        <div class="row justify-content-center">

          <!--Carousel Wrapper-->
          <ngb-carousel  class="shadow-lg rounded z-depth-2" >
            <ng-template ngbSlide *ngFor="let image of project.imageDTOList">
              <div class="picsum-img-wrapper">
                <img style="width: 1200px; height: 575px" src="./assets/image/{{image.imagePath}}" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
          </ngb-carousel>
          <!--/.Carousel Wrapper-->
        </div>

        <div class="row justify-content-between pt-2 elegant-color text-white z-depth-5" *ngFor="let article of project.articleDTOList">

          <div class="col-lg-12 text-white text-center elegant-color">
            <hr class="hr-light">
            <h2 style="font-weight:bold">{{article.title}}</h2>
            <hr class="hr-light">
          </div>

          <div class="col-lg-6" *ngFor="let paragraph of article.paragraphDTOList">
            <h4><strong>{{paragraph.subtitle}}</strong></h4>
            <div [innerHTML]="paragraph.paragraph"></div>
            <p style="text-align: center" *ngIf="paragraph.imageDTOList[0]">
              <img style="width: 400px; height: 250px" src="./assets/image/{{paragraph.imageDTOList[0].imagePath}}">
            </p>
          </div>


          <div class="col-lg-3 justify-content-center pt-1 elegant-color text-center text-white" style="padding-left: 5%; padding-bottom: 2%" *ngFor="let tag of article.tagDTOList">
            <a class="px-2 fa-lg li-ic">
              <i [ngClass]="tag.tagPath" aria-hidden="true"></i><span class="project-skills"> {{tag.name}}</span>
          </a>
          </div>

          <div class="col-lg-12 text-center" style="padding-bottom: 2%" *ngFor="let resource of article.resourceDTOList">
            <a class="px-2 fa-lg li-ic" href="{{resource.url}}" target="_blank">
              <i class="fab fa-github-square fa-3x white-text"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </section>
</main>



