<!--Main layout-->
<main class="mt-5">

  <section class="presentation img-fluid z-depth-3">
    <!-- Container -->
    <div class="container" style="padding-top: 15%">

      <h2 style="font-size: 40px" class="font-weight-bold text-center text-white mb-3">{{profil.firstName}} {{profil.lastName}}</h2>
      <h1 class="font-weight-bold text-center mb-3">
        <span style="color: #52b3d9; font-size: 50px">DÉVELOPPEUR D'APPLICATION</span>
        <span style="color: #4ab590; font-size: 60px"> / </span>
        <span style="color: #4ab590; font-size: 50px">JAVA</span></h1>
      <h4 class="font-weight-bold text-center text-white" style="font-size: 40px">BIENVENUE SUR MON PORTFOLIO !</h4>
    </div>
    <!-- Container -->
  </section>

  <!--Section: about-->
  <section id="about" class="py-5">
    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 style="margin-top: 5%" class="h1-responsive font-weight-bold text-center mb-3">MES COMPETENCES</h2>
      <!-- Grid row -->
      <div class="row align-items-center">
        <!-- Grid column -->
        <div class="col-lg-5 text-center text-lg-left">
          <img class="img-fluid z-depth-0 animated slideOutLeft infinite" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
        </div>
        <!-- Grid column -->
        <div class="col-lg-7">
          <!-- Grid row -->
          <div class="row mb-2">
            <!-- Grid column -->
            <div class="col-xl-10 col-md-11 col-10" *ngFor="let competence of competenceList">
              <h6 class="font-weight-bold mt-2">{{competence.name}}</h6>
              <p><ngb-progressbar height="2rem" [showValue]="true" type="info" [value]="competence.level"></ngb-progressbar></p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!--Grid column-->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Container -->
  </section>
  <!--Section: about-->

  <!--Section: projects-->
  <section id="projects" class="text-center py-5" style="background-color: #eee">
    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold mb-3">MES PROJETS</h2>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">Exemple de projets que j'ai réalisés lors de ma formation de
        développeur d'application java. Pour consulter la liste complètent des projets rendez-vous sur l'onglet
        "PROJETS" de la barre de navigation !</p>
      <!-- Grid row -->
      <div class="row text-center">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4" *ngFor="let project of projectList">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1">
            <img src="./assets/image/{{project.imageDTOList[0].imagePath}}" class="img-fluid" alt="Sample project image"
                 style="width: 350px; height: 197px">
            <a (click)="onClickPojectDetail(project)" routerLink="projectDetail">
              <div class="mask rgba-white-slight">
              </div>
            </a>
          </div>
          <!--Excerpt-->
          <div class="card-body pb-0">
            <h4 class="font-weight-bold my-3">{{project.name}}</h4>
            <p class="grey-text">{{project.summarize}}</p>
            <a class="btn btn-purple btn-sm"  (click)="onClickPojectDetail(project)"
               routerLink="projectDetail"><i class="fa fa-clone left"></i> View project</a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Container -->
  </section>
  <!--Section: projects-->

  <!--Section: articles-->
  <section id="articles" class="text-center py-5">
    <!-- Container -->
    <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold mb-3">MES PROOF OF CONCEPT</h2>
      <!-- Section description -->
      <p class="grey-text w-responsive mx-auto mb-5">Exemple de projets que j'ai réalisés lors de ma formation de
        développeur d'application java. Pour consulter la liste complètent des projets rendez-vous sur l'onglet
        "PROJETS" de la barre de navigation !</p>
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4" *ngFor="let proofOfConcept of proofOfConceptList">
          <!-- Card Narrower -->
          <div class="card card-cascade narrower z-depth-2" style="height: 100%">
            <!-- Card image -->
            <div class="view view-cascade">
              <img src="./assets/image/{{proofOfConcept.imageDTOList[0].imagePath}}" class="img-fluid" alt="Sample project image"
                   style="width: 355px; height: 197px">
              <a (click)="onClickProofOfConceptDetail(proofOfConcept)" routerLink="proofOfConceptDetail">
                <div class="mask rgba-white-slight">
                </div>
              </a>
            </div>
            <!-- Card content -->
            <div class="card-body card-body-cascade text-white" style="background: #222835">
              <!-- Title -->
              <h4 class="font-weight-bold card-title">{{proofOfConcept.name}}</h4>
              <!-- Text -->
              <hr class="hr-light">
              <p class="card-text">{{proofOfConcept.summarize}}</p>
              <!-- Button -->
              <a class="btn btn-purple btn-sm text-white"  (click)="onClickProofOfConceptDetail(proofOfConcept)"
                 routerLink="proofOfConceptDetail"><i class="fa fa-clone left text-white"></i> View POC</a>
            </div>
          </div>
          <!-- Card Narrower -->
        </div>
        <!--Grid column-->
      </div>
      <!-- Container -->
    </div>
  </section>
  <!--Section: articles-->

  <!--Section: contact-->
  <section id="contact" class="py-5" style="background-color: #eee">
    <div class="container">
      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center mb-3">ME CONTACTER</h2>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
        esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
      <!-- Grid row -->
      <div class="row justify-content-center">
        <!-- Grid column -->
        <div class="col-md-3 text-center">
          <i class="fas fa-map-marked-alt fa-2x mt-4 blue-text"></i>
          <p>{{profil.adress}}</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fas fa-phone fa-2x mt-4 green-text"></i>
          <p>{{profil.phoneNumber}}</p>
        </div>
        <div class="col-md-3 text-center">
          <i class="fas fa-envelope fa-2x mt-4 purple-text"></i>
          <p class="mb-0">{{profil.email}}</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!--Section: contact-->
</main>
<!--Main layout-->


